html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    max-height: 500px;
}

.card {
    max-height: 545px;
}

.menu-item {
    margin-bottom: 5px;
}

.rounded-circle {
    max-width: 200px;
    max-height: 200px;
}