{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
        <a class="navbar-nav navbar-brand" href="#">magneto</a>
        <div class="navbar-nav">
            <a id="map-link" class="nav-item nav-link" href="/">Map</a>
            <a id="graph-link" class="nav-item nav-link" href="/data">Graph</a>
            <a id="map-link" class="nav-item nav-link active" href="#">About</a>
        </div>
    </nav>

{% endblock %}