<!DOCTYPE html>
<html lang="en">

<head>
    <title>Magneto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<script charset="utf-8">
    let magneto_json = {{ magneto_json|safe }};
</script>
<body>

<div class="jumbotron text-center">
    <h1>magneto</h1>
    <p>we also have a map</p>
</div>

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLieeiefNfkqBmCwm0FMLiQiXhqTM8p_k&libraries=visualization&callback=initMap"
        async sdefer></script>
</body>

</html>