<head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row p-3">
            <div class="col-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6>Control Pannel</h6>
                    </div>
                    <div class="card-body control-panel">
                        <label for="customRange1"><b>Date to View:</b> <span id="current-date">01-01</span></label>
                        <input type="range" id="date-slider" class="custom-range menu-item" id="customRange1" min="0" max="743" value="0">

                        <br>
                        <h6 class="menu-item"><b>Interpolation Method</b></h6>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="radio-linear" name="interpol" checked>
                            <label class="custom-control-label" for="radio-linear">Linear</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="radio-bilinear" name="interpol">
                            <label class="custom-control-label" for="radio-bilinear">Bilinear</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="radio-cubic" name="interpol">
                            <label class="custom-control-label" for="radio-cubic">Cubic</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6>Interpolation Station</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>